/target/
/flexdock-core/target/
/flexdock-demo/target/
/flexdock-view/target/
/flexdock-drag/target/
/flexdock-perspective/target/
/flexdock-dockbar/target/
flexdock-demo/dependency-reduced-pom.xml

# InteliJ IDEA
/.idea/
/.shelf/
/**/*.iml
